* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 15px;
}

h1 {
  padding: 0;
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Ink Free", sans-serif;
}

a {
  color: slateblue;
}